/* #search{
    width: 30%;
    margin-right: 33%;
    padding: 0.6%;
    background-color: var(--search-box-bg, white);
    border-radius: 40px;
} */
#searchButton{
    color: #ffbb30;
    background-color: #1f5f68;
    border-radius: 40px;
    margin-right: -9%;
}
.mat-button.mat-primary{
    color: #3d747c;
    text-decoration: underline;
    font-size: initial;
}
::ng-deep .mat-list-base
{
    padding-top: 10px!important
}
/* #PostQuestion{
    float: left;
    margin-left: 38%;
    margin-top: 1%;
} */
.lang{
    padding: 0.6%;
    margin-right: 2%;
}
mat-error{
    color: #f44336;
    display: block;
}
#divSearch{
    margin-top: -2%;
    padding: 1%;
    margin-right: 2%;
}
p{
    text-align: center;
    font-size: x-large;
}
#searchResult{
    width: 80%;
    margin-right: 8%;
}
.mat-divider{
    display: block;
    margin: 0;
    border-top-width: 1px;
    border-top-style: solid;
    background-color: white;
    box-shadow: inset #f2f2f2 1px 1px 4px 7px!important;
    height: 1px!important;
}
#noAnswer{
    text-align: center;
    padding: 5%;
    font-size: large;
    background-color: #477c831f;
    width: 70%;
    margin: auto;
}
mat-paginator{
    margin-left: 1%;
    padding: 2%;
}
::ng-deep pre{
    background: none ;
    text-align: right ;
    direction: rtl ;
}
.asq-q-header
{
    width: 70%;
    margin: auto;
    height: 100px;
    display: inline-flex;
    margin-right: 12%;
    margin-left: 20%;
}
.q-language
{
    /* float: right;  */
    /* background: red; */
    height: 100%;
    /* margin-right: 10%; */
    width: 33.3%;
    text-align: left;
}
.q-language  input{
    margin-top: 40px
}
.ask-question
{
    width: 33%;
    margin: auto;
    text-align: center
}
.ask-question input
 {
    width: 90%;
    border-radius: 40px; 
    height: 35px;
}
.add-question
{
    width: 30%;
    text-align: right;
    margin-top: -23px;
    margin-right: 13%;
    margin-left: -16%;
}
.add-question>div{
    margin-left: -10%;
    padding-right: 4%;
    width: 132%;
}