.school{
  height: 100%;
  margin: auto;
  width: 70%;
}
.school-details,.class-creation{
  height: 35%;
  width: 80%;
  margin: 20px 5px 5px 5px;
  background: #fcfcfc;
  box-shadow: #6e989d 0px 0px 3px 1px;
  border-radius: 3px;
  margin-right: auto;
  margin-left: auto;
}
.class-creation{
  height: 118%;

}
.add-class-header
{
  margin: 0 2% 5%;
}
.add-class-header button
{
  width: 50%;
  height: 50px;
  background: #fcc657;
  font-size: 1.4em;
  margin-right: 4%;
}
.school-creation{
  height: 82%;
  width: 100%;
  margin: 2%;
}
.school-creation>div{
  width:25% ;
  float: right;
}
.school-creation mat-form-field
{
  width: 60%;
}
.bold-label
{
  transition: 0.3s;
  border-radius: 0px;
}
.bold-label{
  width: 60%;
    background: #ffbb30;
    height: 2.5px;
    border-top-left-radius: 5px;
    margin-right: 20%;
    border-top-right-radius: 5px;
    margin-top: 7px;
}
.label{
  margin-bottom: -3px;
  text-align: center;
}
.school-creation>div p{
    text-align: center;
}
.school-comment mat-form-field ::ng-deep text-area,span{
  margin-top:-10px;
}

.mat-fab .mat-accent
{
  background-color: #ffbb30;
    width: 50px;
    height: 50px;
}
.add-class,.view-class{
  width: 50%;
  height: 100%;
  float:right;
}
.add-class-container
{
  display: inline-block;
  width: 80%;
  margin: 0 5% 0 1%;
  background: #f8f8f8;
  box-shadow: #7ea1a7 0px 0px 5px 0px;
  padding: 9px;

}
.view-class{
  float: left;
}
.class-name, .class-comment
{
  width: 100%;
 height: 15%;
    text-align: center;
}
.class-name p
{
    margin-right: 7.5%;
}
.class-comment p{
  width: 85%;
  margin-right: 6%;
}
.school-creation .error{
  margin-right: 5%;
}
.mat-form-field
{
  width: 100%;
}
.class-name .display-button{
  width: 60%;
}

.mat-accent{
  background-color: #f9c457;
    width: 100%;
    border-radius: 5px;
    color: black;
}


.school-city mat-form-field ::ng-deep .mat-select-arrow
{
  border-top: #1f5f68 5px solid;
}

.add-class{
  display: inline-table;
  height: 80%;
}
.class-name-label
{
  margin-top: -20px;
}
.display-button{
  height: 10%;;
}
.class-comment >p
{
  margin: 15px 35px 0 0;
  width: 85%;
  margin-right: 7.5%;
}
.add-class-comment
{
  margin: 13px 49% 0 0;
}
.add-class-submit{
  width: 100%;
    
}
.add-class-submit button{
  margin: 0 0 10px 0
}
.add-class-comment>p{
  margin-right: 20%;
}
/* .class-comment>div{
  margin: 10px 20% 10px 0;
} */
.view-class-list
{
  width: 50%;
  float: left;
  height: 80%;
}
.view-class-list>div{
  /* margin: 25% -5% 10px 20%; */
  height: 60%;
}
.class-list{
  width: 92%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 70%;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: visible;
  border: 1px solid rgb(120 157 163);
  border-radius: .28571429rem;
  border-top: .2em solid #fcc657;
  margin-top: 50%;

}
.class{
  box-shadow: 0 -1px 0 0 rgba(0,0,0,.1) inset!important;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 55px;
    display: inline-flex;
}
.class div:nth-child(2)
{
  margin: 2% 4% 2% 0;
}
.mat-button-wrapper
{
  padding: 16px 0;
    display: inline-block;
    line-height: 24px;
    margin-top: -7.5px;
}
.display-icons button
{
  width: 35px;
  height: 35px;
  margin: 3px;
  float: left;
  background: #3a727a26;
  border-radius: 50%;
  color: #4a7b82;
  box-shadow: 0px 3px 3px -5px rgba(0, 0, 0, 0.2), 0px 3px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}
.display-icons button[disabled="true"]
{
  background: #cdcccc;
    color: #a2a2a2;
}
.display-icons
{
  width: 20%;
  /* float: left; */
  /* contain: size; */
  margin: 2% 1%;
  height: 100%;
  /* clear: both;*/
}
.display-icons button ::ng-deep span{
  margin-top: -10px;
}
.adding-class-name
{
  float: right;
  width: 60%;
  height: 100%;
}
.adding-class-name label
{
  margin-right: 20%;
    line-height: 2.5;
    font-size: 1.5em;
}

.school-comment ::ng-deep >*
{
  margin-top: -15px;
}
.class-name>p{
  width: 85%;
}
.school-header{
  padding-top: 2%;
  height: 12%;
  margin-bottom: 60px;
}
.class-header,.school-header
{
  padding-top: 2%;
  height: 8%;}
.class-header-content
{
  width: 80%;
    height: 80%;
}
.class-header-content,.school-header-content{
  margin: 10px 20px 0 0;
    font-size: 1.4vw;
}
.add-class-comment ::ng-deep span
{
  margin-top: -9px;
}
.updating-class-comment
{
  display: flex;
}
.updating-class-comment textarea
{
  
  width: 90%;
  margin: 7px 5px 0 0;
}
.updating-class-comment div{
  width: 60%;
}
.button-updating-class-comment{
  width: 15%;
    color: #3d747c;
    box-shadow: #545454 0px 0px 3px 0px;
    height: 70%;
    margin: 7px;
}
.button-updating-class-comment ::ng-deep span{
  margin-right: -7.5px;
}
mat-form-field::before
{
  content: '*';
  color: red;
  margin: 0px -15px 0px 0;
  float: right;
}
.school-comment mat-form-field::before,.class-comment mat-form-field::before
{
    content: none;
}
.error{
  float: right;
  clear: both;
  margin: 0 22px;
  color: red;
  font-size: 0.95em;
}

.mat-selection-list
{
  overflow: scroll;
  max-height: 40vh;
  direction: ltr;
  overflow-x: hidden;
  border-radius: 6px;
  border: solid 1.5px #3b737b;
  padding:0;
}
.pro-class
{
  width: 75%;
    height: 60%;
    margin: auto;
}
.pro-clear button{
  height: 59px;
  background: #eae9e9;
  box-shadow: none;
  border: #c6d5d7 solid 1px;
  border-radius: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: none;
  width: 100%;
  height: 56px;
}
.pro-clear
{
  width: 50%;
}
.mat-list-option{
  background: #366f7717;
  border-radius: 0;
  width: 100%;
}
.mat-list-option[aria-selected="true"]{
  background: #366f7742
}
.pro-list
{
  margin: auto;
}
.display-p-b{
  display: inline-flex;
  margin: auto;
  width: 100%;
  margin: 10px 0;
}

.display-p-b>button
{
  width: 50%;
    /* width: 100%; */
    /* border-radius: 20px; */
    border-radius: 0;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background: linear-gradient(45deg, #cdcccc, transparent);
    box-shadow: none;
    border: #c6d5d7 solid 1px;

}
.mat-icon{
  margin: 5px;
}
.submit-school button{
  width: 100%;
  height: 100%;
  background: #f9c457;
  border-radius: 3px;
  font-size: 1.7em;
  text-align: center;
}
.submit-school
{
  height: 55px;
    float: left;
    width: 100%;
    margin: 2% 0;
}
#postClassButton .mat-icon{
  margin-top: -0.5px;
}
.empty-list
{
  font-size: 2em;
  padding-top: 50%;
  text-align: center;
}
.empty-list label 
{
  
    padding: 5px;
  
    text-align: right;
    line-height: 1.5;
    color: #a6a6a6;
}