<!DOCTYPE html>
<div class="school" *ngIf="!Loading">
  <div class="school-details">
    <div class="school-header">
      <div class="school-header-content">
        <p *ngIf="!UpdateSecretary()"> מלא את הפרטים הבאים על מנת שהמוסד שלכם יוכל להיות חבר במערכת</p>
        <p *ngIf="UpdateSecretary()">ברוך הבא {{SecretaryEnter.SecretaryName}} אם ברצונך לעדכן את פרטי מוסד
          {{SchoolBySecretary.SchoolName}} מלא את הפרטים הבאים</p>
      </div>
    </div>
    <div class="school-creation">
      <!-- מלוי שם מוסד -->
      <div class="school-name" *ngIf="!UpdateSecretary()">
        <p>
          <mat-form-field aria-required="true">
            <mat-label>הכנס שם מוסד</mat-label>
            <input ngDefaultControl matInput placeholder="שם המוסד" [(ngModel)]="NameOfSchool">
          </mat-form-field>
        </p>
        <!-- <div class="school-name-label">
          <div class="label">
            <p>שם המוסד המלא</p>
          </div>
          <div class="bold-label"></div>
        </div> -->
      </div>
      <!-- מילוי מס' מוסד -->
      <div class="school-num" *ngIf="!UpdateSecretary()" required="true">
        <p>
          <mat-form-field>
            <mat-label>הכנס מספר מוסד</mat-label>
            <input ngDefaultControl matInput placeholder="מספר המוסד" [(ngModel)]="NumOfSchool">
          </mat-form-field>
        </p>
        <!-- <div class="school-num-label">
          <div class="label">
            <p>מספר המוסד</p>
          </div>
          <div class="bold-label"></div>
        </div> -->
      </div>
      <!-- לחצן יישוב -->
      <div class="school-city">
        <p>
          <mat-form-field ngDefaultControl>
            <mat-label>יישוב</mat-label>
            <mat-select [(ngModel)]="CityId">
              <mat-option (click)="CityIdSelect(city.id)" *ngFor="let city of Cities" [value]="city.id">
                {{city.CityName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <!-- <div class="school-city-label">
          <div class="label">
            <p>יישוב</p>
          </div>
          <div class="bold-label"></div>
        </div> -->
      </div>
      <!-- לחצן הערה -->
      <div class="school-comment">
        <p>
          <mat-form-field>
            <mat-label>הערה</mat-label>
            <textarea [(ngModel)]="schoolComment" ngDefaultControl matInput></textarea>
          </mat-form-field>
        </p>
        <!-- <div class="school-comment-label">
          <div class="label">
            <p>עוד קצת מידע...</p>
          </div>
          <div class="bold-label"></div>
        </div> -->
      </div>
      <p class="error" *ngIf="!SCHOOLISVALID">מלא את השדות הנידרשים</p>
    </div>
  </div>
  <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  <div class="class-creation">
    <div class="class-header">
      <div class="class-header-content">
        <p *ngIf="!UpdateSecretary()">צרף את הכיתות הקיימות אצלכם במערכת</p>
        <p *ngIf="UpdateSecretary()">אנא עדכן את רשימת הכיתות במוסד המוצגות</p>
      </div>
    </div>
    <div class="add-class">
      <div class="add-class-header">
        <button mat-raised-button (click)="AddNewClass()">חדש<mat-icon>add</mat-icon></button>
      </div>
      <!-- הכנסת שם כיתה -->
      <div class="add-class-container">
        <div class="class-name">
          <p>
            <mat-form-field>
              <mat-label>שם הכיתה</mat-label>
              <input ngDefaultControl matInput [(ngModel)]="ClassName" [disabled]="disabled">
            </mat-form-field>
          </p>
          <p class="error" *ngIf="!CLASSISVALID">שדה זה חובה</p>
        </div>
        <!--  הערה -->
        <div class="class-comment">
          <p>
            <mat-form-field>
              <mat-label>הערה</mat-label>
              <input matInput [(ngModel)]="commentValue" matInput [(ngModel)]="ClassComment">
            </mat-form-field>
          </p>
        </div>
        <div class="pro-class">
          <div class="pro-list">
            <mat-selection-list>
              <mat-list-option *ngFor="let pro of Profestions" (click)="SeProtChecked(pro.id)" [selected]="pro.checked">
                {{pro.name}}
              </mat-list-option>
            </mat-selection-list>
          </div>
          <div class="display-p-b">
            <button mat-fab (click)="AddPro()">
              <mat-icon>add</mat-icon>
            </button>
            <div class="pro-clear">
              <button mat-raised-button (click)="ClearAllPro()">נקה</button>
            </div>
          </div>
        </div>
        <div class="display-button">

          <div class="add-class-submit">
            <!-- לחצן הוספת כיתה למערך -->
            <div class="example-button-container">
              <button id="postClassButton" (click)="plusClass()" mat-mini-fab color="accent"
                aria-label="Example icon button with a plus one icon">
                <mat-icon>plus_one</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <mat-error class="class-error"> {{errorClassUnique}}</mat-error>
    </div>
    <!-- רשימת הכיתות להוספה -->
    <div class="view-class-list">
      <p *ngIf="IfListClass">רשימת הכיתות למוסד זה</p>
      <div class="class-list" *ngIf="!UpdateSecretary()">
        <div class="empty-list" *ngIf="classesToSchool.length==0">
          <label>נראה כי הרשימה כרגע ריקה</label>
        </div>
        <div *ngFor="let class of classesToSchool">
          <div class="class">
            <div class="adding-class-name"><label>{{class.className}}</label> </div>
            <div>
              <button mat-raised-button (click)="EditClass(class)">ערוך</button>
            </div>
            <div class="display-icons">
              <button (click)="deleteItem(class)" class="delete-class-button" mat-fab color="primary"
                aria-label="Example icon button with a delete icon" [disabled]="IsConst(class)">
                <mat-icon id="iconDelete">delete</mat-icon>
              </button>
              <!-- <button class="CommentItem" (click)="EditComment(class)" mat-fab color="accent"
                aria-label="Example icon button with a bookmark icon">
                <mat-icon class="iconComment">bookmark</mat-icon>
              </button> -->
            </div>
            <!-- <div class="updating-class-comment" *ngIf="class.checked">
              <div>
                <textarea id="textareaEditComment" [(ngModel)]="class.comment" type="text"></textarea></div>
              <button class="button-updating-class-comment" (click)="UpdateSelectComment(class)" mat-button
                color="primary">עדכן
                שנוי</button>
            </div> -->
          </div>
        </div>
      </div>
      <div *ngIf="UpdateSecretary()">
        <div class="class-list">
          <div *ngFor="let class of UpdateClassesToSchool">
            <div class="class">
              <div class="adding-class-name"><label>{{class.className}}</label> </div>
              <div>
                <button mat-raised-button (click)="EditClass(class)">ערוך</button>
              </div>
              <div class="display-icons">
                <button (click)="deleteItem(class)" mat-fab aria-label="Example icon button with a delete icon"
                  [disabled]="IsConst(class)">
                  <mat-icon>delete</mat-icon>
                </button>
                <!-- <button (click)="EditComment(class)" mat-fab aria-label="Example icon button with a bookmark icon">
                  <mat-icon>bookmark</mat-icon>
                </button> -->
              </div>
              <!-- <div *ngIf="class.checked">
                <textarea [(ngModel)]="class.comment" type="text"></textarea>
                <button (click)="UpdateSelectComment(class)" mat-button>עדכן
                  שנוי</button>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="submit-school">
      <button [disabled]="IfDisabledFinish()" mat-raised-button (click)="Submit()">סיום</button>
    </div>
  </div>

  <mat-error class="schol-error"> {{errorSchoolUnique}}</mat-error>

</div>