<mat-card>
    <p id="title">איפוס סיסמא</p>

    <div id="FillDetails">
        <!-- הכנסת שם משתמש -->
        <mat-form-field style="margin-top: 14%;" *ngIf="IfUserName">
            <mat-label>הכנס שם משתמש</mat-label>
            <input [(ngModel)]="UserName" matInput placeholder="שם משתמש"><br />
        </mat-form-field>

        <!-- הכנסת כתובת מייל משתמש -->
        <mat-form-field appearance="fill" *ngIf="IfUserName">
            <mat-label>הכנס כתובת אמייל</mat-label>
            <input [(ngModel)]="userMail" matInput placeholder="pat@example.com">
        </mat-form-field>
        <mat-error *ngIf="errRequeridUserName">שדות אלו הם שדות חובה</mat-error>

        <button id="ButtonContinue" *ngIf="ifButtonContinue" (click)="ContinueNewPassword()" mat-button
            color="primary">המשך</button>
    </div>
    <div *ngIf="!IfUserName" id="newPassword">
        <div style="display: flex">
            <p *ngIf="!changePaswword" style="font-size: large;">קוד האימות נשלח למייל שלך</p>
            <button *ngIf="!changePaswword" id="dontGet" mat-stroked-button (click)="sendMail()">לא קבלתי</button>
        </div>
        <div style="margin-top: 5%">

            <mat-form-field *ngIf="!changePaswword" style="margin-top: 3%;" appearance="fill">
                <mat-label>הקש את קוד האימות</mat-label>
                <input [(ngModel)]="Code" matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <div style="color: red;margin-right: 24%;">{{errCode}}</div>
            <button *ngIf="!changePaswword" id="ButtonContinueP" (click)="ContinueChangePassword()" mat-button
                color="primary">המשך</button>

            <mat-form-field *ngIf="changePaswword" class="inputPassword" appearance="fill">
                <mat-label>הקש את הסיסמא החדשה</mat-label>
                <input [(ngModel)]="firstPassword" matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <mat-form-field *ngIf="changePaswword" class="inputPassword" appearance="fill">
                <mat-label>הקש שוב את הסיסמא לאימות</mat-label>
                <input [(ngModel)]="secondPassword" matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <div>{{errRequiredNewP}}</div>
        </div>
        <button (click)="UpdatePassword()" id="buttonChange" *ngIf="!ifButtonContinue&&changePaswword" mat-button
            color="primary">שנה
            סיסמא</button>
        <!-- <a (click)="Back()" *ngIf="!ifButtonContinue">חזור</a> -->
    </div>
    <mat-error>{{errorPassword}}</mat-error>
    <mat-error *ngIf="ifErrPasswordLenght">הסיסמא צריכה להכיל מינימום 8 תווים</mat-error>
    <div style="    text-align: center;padding: 5%;font-size: large;">{{ChangeResult}}</div>
</mat-card>

<a (click)="backToEnter()" id="backToEnter" style="cursor: pointer">חזרה לכניסה למערכת</a>