<div *ngIf="ifEmpty" id="Empty">לא נמצאו תשובות לשאלות שלך</div>
<div *ngIf="!ifEmpty" id="wrapper">
    <div class="class" *ngFor="let answer of questionAndAnswers|keyvalue">
        <div class="class-header">
            <label>{{GetQuestionById(answer.key)}} <div style="width: 100%;"><a
                        routerLink="/EditquestionPersonal/{{answer.key}}"
                        routerLinkActive="active-link">{{QuestionTitle}}</a>
                    <div id="proffestion">{{ProffestionName}}</div>
                    <div id="date">{{QuestionDate|date}}</div>
                </div></label>
        </div>
        <div class="teachers">
            <table mat-table [dataSource]="answer.value" class="mat-elevation-z8">

                <ng-container matColumnDef="answerContant">
                    <th mat-header-cell *matHeaderCellDef> תוכן</th>
                    <td mat-cell *matCellDef="let ans"><a routerLink="/EditanswerPersonal/{{ans.Answer.AnswerId}}"
                            [innerHtml]="ifAnswerLong(ans.Answer.AnswerContant)">
                        </a> </td>
                </ng-container>
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> תאריך עניית התשובה </th>
                    <td mat-cell *matCellDef="let ans"> {{ans.Answer.AnswerDate|date}} </td>
                </ng-container>
                <ng-container matColumnDef="userName">
                    <th mat-header-cell *matHeaderCellDef> שם המשיב </th>
                    <td mat-cell *matCellDef="let ans"> {{ans.Reply.UserName}} </td>
                </ng-container>
                <ng-container matColumnDef="userStatus">
                    <th mat-header-cell *matHeaderCellDef> סטטוס המשיב </th>
                    <td mat-cell *matCellDef="let ans"> {{ans.Reply.UserKind}} </td>
                </ng-container>
                <ng-container matColumnDef="userMail">
                    <th mat-header-cell *matHeaderCellDef> כתובת המשיב </th>
                    <td mat-cell *matCellDef="let ans">{{ans.Reply.UserMail}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>