.textDetais{
    /* font-size: larger; */
}
.welcome{
    font-size: x-large;
    text-align: center;
    margin-bottom: 2%;
}
mat-tab-group{
    width: 75%;
    margin-right: 2%;
}
.personalDetails{
    border: #467b82 solid;
    text-align: center;
    width: 170px;
    margin-right: 48%;
    padding: 15%;
    margin-top: 40%;
    border-radius: 10px;
}
img{
    margin-left: 10%;
    margin-right: 10%;
}
.mat-tab-body-wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    transition: height 500ms cubic-bezier(0.35, 0, 0.25, 1);
    border: #42788036 solid;
}
mat-tab-group{
    width: 75%;
    margin-right: 12%;
    overflow: scroll;
    max-height: 65vh;
    min-height: 70vh;
    overflow-x: hidden;
    overflow-y: hidden;
    border: #ececec solid;
    box-shadow: #bdbdbd 0px 0px 6px 0px;
    border-radius: 10px;
}