<div class="dialog">
        <div class="dialog-container">
            <div class="school">
                <span>
                    <p>בית ספר - </p>
                </span>
                <span>
                    <p>{{data.cl.s_name}}</p>
                </span></div>
            <div class="class">
                <span>
                    <p>כיתה - </p>
                </span>
                <span>
                    <p>{{data.cl.c_name}}</p>
                </span></div>
            <div class="teacher">
                <span>
                    <p>למורה - </p>
                </span>
                <span>
                    <p>{{Teacher.UserName}}</p>
                </span></div>
            <div class="profs">
                <mat-selection-list>
                    <mat-list-option *ngFor="let pro of proffestions" [selected]="pro.approved>0"
                        (click)="SetProChecked(pro.proffestion)">
                        {{pro.proffestion.ProffestionName}}
                    </mat-list-option>
                </mat-selection-list>
            </div>
        </div>
        <div mat-dialog-actions>
            <button mat-button (click)="onNoClick()">ביטול</button>
            <button mat-button (click)="Save()" cdkFocusInitial type="button">שמור</button>
        </div>
    </div>