<mat-list role="list" *ngFor="let Item of arrUserQuestion">
     <app-item-question  [question]="Item"></app-item-question>
</mat-list>


<!-- <ul *ngFor="let item of booklist" [ngClass]="{'e':empty(item)}">
    <li>{{item.id}}</li><li>{{item.title |titlecase:func()}}</li><li> {{item.author}}</li>
    <li><a routerLink="/book-details/{{item.id}}" routerLinkActive="active-link">Click here for details</a></li>
</ul> -->


<!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->

