<div>
    <div style="margin-top: 5%;" class="title">תודה שבחרת לבקר באתר שלנו :)</div>
    <div class="container-hr">
        <hr />
    </div>

    <div class="question">מי אנחנו?</div>
    <div class="content">
        <p>האתר שלנו הוקם במטרה לסייע למפתחים ולהפוך את דרך הלימוד לנוחה ויעילה יותר ע"י מתן מענה לשאלות בתחום פיתוח
            התוכנה ע"י מורים ומפתחים בתחום זה.</p>
    </div>

    <div class="question">למי מיועד האתר?</div>
    <div class="content">
        <p>למפתחים המעוניינים לקבל חווית לימוד אחרת ומועילה, ע"י קבלת תשובות ממשתמשים מקצועיים המחוברים לאתר וכן מעקב
            למידה עצמית.</p>
        <p>וכן לקבוצות לימוד המעוניינות לנהל את צורת הלימוד, להפיק את המירב ע"י מעקב למידה ותקשורת של שאלות ותשובות בין
            מורים לתלמידים.</p>
    </div>


    <div class="question">מדוע כדאי לבקר באתר שלנו?</div>
    <div class="content">
        <p>האתר שלנו בנוי במיוחד למוסדות פיתוח תוכנה אשר בתקופה זו מתמודדים עם לימוד מקוון המקשה על צורת הלימוד היעילה
            והנוחה אשר התרגלנו אליה עד כה.</p>
        <p>לשם כך פיתחנו אתר אשר נותן תמיכה הולמת למוסדות אלו בעזרת תקשורת מקוונת של שאלות ותשובות בין מורים לתלמידים
            העוסקים בתחום פיתוח התוכנה, ובכך מייעלת את תפקוד הלימוד במוסדות הלימוד בפרט ובפיתוח בכלל בצורה משמעותית מאד.
        </p>
    </div>


    <div class="question">איך משתמשים באתר?</div>
    <div class="content">
        <p>תלמיד הנכנס לאתר באפשרותו לשאול שאלה למערכת ולקבל תשובה ממאגר השאלות או לחילופין להעלות שאלה למערכת, לעיין
            ברשימת השאלות הקיימות, וכן לצפות ברמה המקצועית שלו בשפות התכנות בו הוא מתמחה, ועוד אפשרויות שונות.</p>
        <p>מורה הנכנס לאתר באפשרותו לצפות ברמה המקצועית של תלמידיו החברים במערכת, לצפות בתשובות שענו תלמידיו ולתת עליהם
            חוות דעת, לצפות ברשימת השאלות הקיימות, וכן לשאול שאלה, למערכת ועוד אפשרויות שונות.</p>
        <p>מזכיר הנכנס לאתר באפשרותו לרשום את המוסד שלו כחבר במערכת, לעדכן את פרטי המוסד והכיתות המעונינות להצטרף
            למערכת, לאשר התחברות מורים ותלמידים השייכים למוסד לאתר, ועוד אפשרויות שונות.</p>
    </div>

    <div class="title">מקווים שתפיקו חווית לימוד מהנה ומועילה :)</div>
    <div class="container-hr">
        <hr />
    </div>
</div>
<a id="back" (click)="backClicked()">
    <mat-icon>keyboard_backspace</mat-icon>
  </a>