<mat-card>
  <mat-card-title>Login</mat-card-title>
<mat-card-content>
<form [formGroup]="form" (ngSubmit)="submit()" >

<!-- הכנס שם משתמש -->
<p>
  <mat-form-field >
      <mat-label>הכנס שם משתמש</mat-label>
      <input matInput placeholder="שם משתמש" formControlName="UserName">
       <mat-error *ngIf="checkError('UserName', 'required')">שדה חובה</mat-error>
       <mat-error *ngIf="checkError('UserName', 'maxLength')">מקסימום 10 תווים </mat-error> 
    </mat-form-field>
</p>

<!-- בחר סיסמת משתמש -->
<p>
  <mat-form-field appearance="fill">
    <mat-label>בחר סיסמא</mat-label>
    <input [type]="hide ? 'password' : 'text'" matInput placeholder="סיסמא" formControlName="UserPassword">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="checkError('UserPassword', 'required')">שדה חובה</mat-error>
    <mat-error *ngIf="checkError('UserPassword', 'maxLength')">מינימום  8 תווים </mat-error> 
  </mat-form-field>
</p>

<!-- הכנסת כתובת אמייל משתמש -->
<p *ngIf="CheckSignInUp()">
  <mat-form-field appearance="fill">
    <mat-label>הכנס כתובת אמייל</mat-label>
    <input matInput placeholder="pat@example.com" formControlName="UserMail" >
    <mat-error *ngIf="checkError('UserMail', 'required')">שדה חובה</mat-error>
    <mat-error *ngIf="checkError('UserMail', 'email')">כתובת אמייל לא חוקית</mat-error>
  </mat-form-field>
  <mat-error *ngIf="IsExists==true">כתובת זו נמצאת בשימוש במערכת</mat-error>
</p>

<!-- בחירת סטטוס משתמש -->
<p *ngIf="CheckSignInUp()">
  <mat-form-field>
    <mat-label>בחר סטטוס משתמש</mat-label>
    <mat-select formControlName="UserKind" required>
      <mat-option>--</mat-option>
      <mat-option *ngFor="let user of users" [value]="user">
        {{user.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="checkError('UserKind', 'required')">שדה חובה</mat-error>
    <mat-hint>{{form.controls['UserKind'].value?.messege}}</mat-hint>
  </mat-form-field>
</p>

<!-- שליחת הטופס -->
<div class="button">
  <button type="submit" mat-button>כניסה</button>
</div>

<a *ngIf="!CheckSignInUp()"  (click)="relativeTo('signUp')"> ליצירת משתמש חדש</a>
<p *ngIf="CheckSignInUp()" >יש לך כבר חשבון?    <a (click)="relativeTo('signIn')">כניסה</a></p>
<mat-error> {{errorUserUnique}}</mat-error>



</form>
</mat-card-content>
</mat-card>
