

<div id="Empty" *ngIf="dataSource==null">לא נמצאו תוצאות מתאימות</div>
<table *ngIf="dataSource!=null" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="ProffestionName">
      <th mat-header-cell *matHeaderCellDef> שם המקצוע </th>
      <td mat-cell *matCellDef="let element"> {{element.proffestion.ProffestionName}} </td>
    </ng-container>
  
    <ng-container matColumnDef="mark">
      <th mat-header-cell *matHeaderCellDef> ציון </th>
        <td mat-cell *matCellDef="let element"><p *ngIf="element.comment==null"> {{IfNaN(element.mark)}} </p> <p *ngIf="element.comment!=null">{{element.comment}}</p></td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>