  <!-- <mat-card>
    <mat-card-title>Login</mat-card-title>
<mat-card-content>
 <form [formGroup]="form" (ngSubmit)="submit()" #form>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>הכנס שם משתמש</mat-label>
      <input matInput placeholder="שם משתמש" [formControl]="form.userName">
      <mat-hint>מקסימום 10 תווים</mat-hint>
       <mat-error *ngIf="form.userName.invalid">{{getErrorMessageUserName()}}</mat-error>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="fill">
      <mat-label>הכנס סיסמא</mat-label>
      <br/>
      <input matInput [type]="hide ? 'password' : 'text'" [formControl]="form.password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="form.password.invalid">{{getErrorMessagePassword()}}</mat-error>
      <mat-hint></mat-hint>
      </button>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>הכנס כתובת אימייל</mat-label>
      <input matInput placeholder="pat@example.com" [formControl]="form.email" required>
      <mat-error *ngIf="form.email.invalid">{{getErrorMessageEmail()}}</mat-error>
    </mat-form-field>
  </p>

  <p *ngIf="error" class="error">
    {{ error }}
  </p>

  <div class="button">
    <button type="submit" mat-button>Login</button>
  </div>

</form>
</mat-card-content>
</mat-card> -->