mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}
mat-card-title
{
    text-align: center;
    color: #2d6972;
    font-size: large;
}
mat-card{
    margin-right: 15px;
    width: 200%;
}
.mat-list-base {
    display: block;
    -webkit-tap-highlight-color: transparent;
    float: right;
    border: solid 1px #ffbb30;
    border-radius: 5px;
    width: 30%;
    float: left;
    margin: 0;
    margin-right: 0;
    margin-top: 10%;
    box-shadow: #1f5f6830 0px 0px 0px 1px;
    overflow: scroll;
    max-height: 40vh;
    direction: ltr;
    overflow-x: hidden;
    padding: 0;
}
.mat-pseudo-checkbox ng-star-inserted {
   color: rgb(31, 95, 104);
}
mat-pseudo-checkbox {
 background: #ffbb30;
}
.mat-card>:last-child:not(.mat-card-footer), .mat-card-content>:last-child:not(.mat-card-footer) {
 height: 100%;
 margin-bottom: 0;
 width: 100%;
 margin: 15px;
}
::ng-deep  .mat-pseudo-checkbox-checked {
 background: red;
}
.button {
    display: flex;
    justify-content: flex-end;
  }