:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}
a{
  cursor: pointer;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: #ffbb30;
}


.button {
  display: flex;
  justify-content: flex-end;
}
.mat-card-title{
  color: #1f5f68;
}
.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
.mat-icon-button, .mat-button{
  background: #ffbb30; 
}
.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}
.mat-error{
  color: #f44336;
    font-size: 13px;
    margin-top: -18px;
}